@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

.body {
    background-color: #F5F5F5;
}

/* MAIN */

.main_background {
    width: 100%;
    top: 0;
}

.header_container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 20px;
    color: black;
}

.header {
    font-family: 'Playfair Display', serif;
    letter-spacing: 7px;
    font-size: 27px;
}

.mainnav_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 12px;
    margin: 40px 0 0 30px;
    list-style: none;
    padding: 0;
    right: 0;
    left: 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

.mainnav_listitem {
    margin-right: 45px;
    color: black;
    text-decoration: none;
}

.mainnav_listitem:hover {
    text-decoration: underline;
}

.mainnav_h2 {
    font-size: 25px;
    letter-spacing: 2px;
}


/* ABOUT */

.about {
    font-family: 'Proza Libre', sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}

.about_header {
    font-family: 'Playfair Display', serif;
    padding-top: 20px;
    letter-spacing: 5px;
    font-size: 30px;
}

.about_description {
    padding-top: 40px;
}

.about_logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 150px;
    padding-top: 20px;
}

.about_logos-img {
    margin: 10px;
    width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.adobe, .ruby, .heroku {
    width: 120px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.css, .html {
    width: 130px;
    max-height: 130px;
    width: auto;
    height: auto;
}

.github {
    width: 170px;
    max-height: 170px;
    width: auto;
    height: auto;
}

.me_img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 30px 0;
}

/* PORTFOLIO */

.portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4 {
    display: flex;
    flex-direction: column;
}

.portfolio_header {
    font-family: 'Playfair Display', serif;
    padding-top: 40px;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;
}

.portfolio_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 50px;
}

.portfolio_1_img, .portfolio_2_img, .portfolio_3_img, .portfolio_4_img {
    width: 400px;
    margin: 30px;
}

.portfolio_1_text, .portfolio_2_text, .portfolio_3_text, .portfolio_4_text {
    display: none;
    position: absolute;
    z-index: 2;
    top: 20%;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
    pointer-events: none;
}

.portfolio_1_text {
    left: 16%;
}

.portfolio_2_text {
    left: 18%;
}

.portfolio_4_text {
    left: 12%;
}

.portfolio_text-title {
    font-size: 30px;
}

.portfolio_text-description {
    font-size: 20px;
    font-style: italic;
    padding-bottom: 15px;
}

.portfolio_text-link {
    font-size: 15px;
    margin: 0 8px;
    color: black;
    z-index: 2;
    font-family: 'Proza Libre', sans-serif;
    text-align: center;
}

.portfolio_1, .portfolio_2, .portfolio_3, .portfolio_4 {
    position: relative;
}

.portfolio_1_img:hover, .portfolio_2_img:hover, .portfolio_3_img:hover, .portfolio_4_img:hover {
    opacity: .15;
}

.portfolio_1_img:hover + .portfolio_1_text,.portfolio_2_img:hover + .portfolio_2_text, .portfolio_3_img:hover + .portfolio_3_text,
.portfolio_4_img:hover + .portfolio_4_text {
    display: block;
}


/* CONTACT */

.contact {
    text-align: center;
    margin-top: 100px;
    font-family: 'Proza Libre', sans-serif;
    position: relative;
}

.contact_header {
    font-family: 'Playfair Display', serif;
    padding: 20px;
    letter-spacing: 5px;
    font-size: 30px;
}

.contact_link {
    margin: 30px;
    color: black;
    position: relative;
}

.contact_laptop {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 375px) {
    .header {
        line-height: 50px;
    }

    .portfolio_1_img, .portfolio_2_img, .portfolio_3_img, .portfolio_4_img {
        width: 375px;
    }

}