@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Proza+Libre");
html {
  scroll-behavior: smooth;
}

.body {
  background-color: #f5f5f5;
}

.card-hamburger {
  width: 20px;
  height: 20px;
  padding-right: 20px;
} 


/* MAIN */

.main_background {
  width: 100vw;
  top: 0;
}

.header_container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  line-height: 22px;
  margin-top: 20px;
  color: black;
}

.header {
  font-family: "Playfair Display", serif;
  letter-spacing: 7px;
  font-size: 27px;
}

.mainnav_list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Proza Libre", sans-serif;
  font-size: 12px;
  margin: 40px 20px 0 30px;
  list-style: none;
  text-align: center;
  position: relative;
  z-index: 1;
}

.mainnav_listitem {
  margin-right: 45px;
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.mainnav_listitem:hover, .mainnav_listitem:focus {
  text-decoration: underline;
  outline: none;
}

.mainnav_h2 {
  font-size: 25px;
  letter-spacing: 2px;
}


/* ABOUT */

.about {
  font-family: "Proza Libre", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  margin-top: 90px;
  margin-bottom: 100px;
  z-index: 1;
  position: relative;
}

.about_header {
  font-family: "Playfair Display", serif;
  padding-top: 20px;
  letter-spacing: 5px;
  font-size: 30px;
}

.about_description-container {
  padding: 25px 0;
}

.about_description {
  font-size: 18px;
  width: 60vw;
  margin: 0 auto;
  line-height: 25px;
  padding: 8px 0;
}

.email-link {
  color: #3d3d3d;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.about_logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0 150px;
  padding-top: 20px;
}

.about_logos-img {
  margin: 30px;
  height: 80px;
  width: auto;
  transition: all .2s ease-in-out;
}

.logo-title {
  font-size: 14px;
  margin: 0;
  color: #3d3d3d;
}

.jquery, .express, .rails {
  height: 40px;
}

.logo:hover img {
  transform: scale(1.2);
}

.logo:hover p {
  color: black;
}

.me_img {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 30px 0;
  border-radius: 100%;
  transition: all .2s ease-in-out;
}

.me_img:hover {
  transform: scale(1.1);
}


/* PORTFOLIO */

.portfolio_header {
  font-family: "Playfair Display", serif;
  padding-top: 40px;
  letter-spacing: 5px;
  font-size: 30px;
  text-align: center;
}

.portfolio_images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px;
}


/* FOOTER */

.footer-outer {
  margin: 40px 0;
}

.footer-inner {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.footer-label {
  margin: 0 0 10px 0;
  font-weight: bold;
}

.footer-link {
  color: #3d3d3d;
  text-decoration: none;
}

.footer-link:hover, .footer-link:focus {
  text-decoration: underline;
  outline: none;
}


/* MEDIA QUERIES */

@media only screen and (max-width: 375px) {
  .header {
    line-height: 50px;
  }
}
