@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Proza+Libre');

.main_background {
    height: 100%; 
    width: 100%;
    position: absolute;
}

.header_container {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 40px;
    color: white;
}

.header {
    font-family: 'Playfair Display', serif;
    letter-spacing: 7px;
    font-size: 20px;
}

.mainnav_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Proza Libre', sans-serif;
    font-size: 12px;
    margin: 40px 0 0 30px;
    list-style: none;
    padding: 0;
    right: 0;
    left: 0;
    text-align: center;
}

.mainnav_listitem {
    margin-right: 32px;
}